extends layout

block content
  h1= title
  div.params
    form
      input.thread-id(type='text' value='300559876768618')
      input.token(type='text' value='CAACEdEose0cBACoBvTcZChqfoSNFFUa8uJ6aP9MZAAZAyUSYexSX84Iy4yXefHfurowHlm5fvc7BZBWG60i6nD7gxUpyONe4DzhpiHZCAan3Ni0oDZA6eyjZBg9IgrYbmYHZBRJYmIpTVPWUFqjB6NFiZCcZCEzt7eMqaiLnDOJmaJs6ZCfudsFLSs917sxWSyAa60ZD')
      input.submit-id(type='button' value='go!')
  div.container
