extends layout

block content
  h1= title
  div.login-area
    button.login log in!
  div.params
    form
      input.thread-id(type='text' value='647787375301371')
      //- input.token(type='text' value='CAACEdEose0cBAC1qWZCtEoVegUnSByKCrElocWZCc2NxcddqQH6SeguTneKN78cv21C7sKVSQ9VzrGQ9wDNNVbnYGcn9EhxJRhvTjKogPUVzl8nN5ZAVTbSdPTT2SOezkAFdEaXo9tgStUcO25CIx4wy0ZAIWLCHZCsX4ZBLSWZAfRZAhkcIZAF0wPlMZCBytMZA8EZD')
      input.submit-id(type='button' value='go!')
  //- div.fb-like(data-send="true" data-width="450" data-show-faces="true")
  div.container
