doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/c3/c3.css')
    link(rel='stylesheet', href='/dist/style.min.css')
    script(src='jquery/dist/jquery.min.js')
    script(src='/d3/d3.min.js')
    script(src='/c3/c3.min.js')
  body
    block content
    script(src='/dist/production.min.js')
    //- initialize facebook
    //- script(src='/javascripts/facebookInit.js')
    //- script(src='/javascripts/login.js')
    //- script(src='/javascripts/visualizer.js')
    //- script(src='/javascripts/fetchUsers.js')
    //- script(src='/javascripts/fetchMessages.js')
    //- script(src='/javascripts/parseMessages.js')
    //- script(src='/javascripts/app.js')
